@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    margin: 0;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}
#main {
    width: 100%;
}
#content {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
}
#sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebar-icon {
    padding: 2.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    
}
.sidebar-icon p {
    margin: 0;
}
.sidebar-icon ion-icon {
    font-size: 1.5em;
}
#topbar {
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo {
    height: 50%;
    cursor: pointer;
}
#search-wrapper {
    display: flex;
    height: 50%;
}
#topbar-icons {
    display: flex;
    cursor: pointer;
}
.topbar-icon ion-icon {
    font-size: 2em;
    padding: 0 0.3em;
}
#mic-icon {
    margin: 0 0.5em;
    cursor: pointer;
}
#mic-icon ion-icon {
    font-size: 1.7em;
}
#search-btn {
    padding: 0 0.6em;
    font-size: 1.3em;
    cursor: pointer;
}
#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    max-width: 1500px;
    max-height: 800px;
}
.box {
    width: 450px;
    margin-top: 10px;
}
.thumb {
    width: 100%;
}
.thumb img {
    width: 100%;
    cursor: pointer;
}
.epicode-logo img {
    width: 50px;
    cursor: pointer;
}
.undebox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}
.text {
    display: flex;
    flex-wrap: wrap ;
    flex-direction: column;
    margin: 10px;
}
.text h4, p {
    margin: 0;
}
.text h4 {
    font-size: 1em;
    cursor: pointer;

}
.text p {
    font-size: 0.9em;
}